<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Library Management System Application</title>
  </head>
  <body>
    <h1>Library Management System Application</h1>
    <p>
     This is the home page for NCSU Library Management System
    </p>
  </body>
<div class="center jumbotron">

   <% if !current_user.nil? %>
   <h2><strong>Hi! <%= current_user.name %><strong></h2>
   <% end %>
  <h1><strong>Welcome to the NCSU Libraries<strong></h1>

</div>
<%= image_tag("ncstate2.png", :alt => "NCSU") %>
</html>
