<% provide(:title, 'All users') %>

<h1>All Library users</h1>

<table style="width:100%">
<tr>
<h5>
    <th>User Name</th>
    <th>Delete User</th>
</h5>
</tr>
<ul class="users">
<% @users.each do |user| %>
<tr>
<% if !user.super?%>
<td>
<%= link_to user.name, user %>
</td>

<% if current_user.admin?%>
<td>
<% if !(current_user.id==user.id) %>
<% if (user.book_taken==false) %>
<%= link_to "Delete User", user, method: :delete, data: { confirm: "Confirm?" } %>
<% else %>
<%= "User has checked out a book" %>
<% end %>
<% end %>
</td>
<% end %>
<% end %>
</tr>

<% end %>
</ul>
</table>
