<% provide(:title, 'All Books') %>

<h1>All Library Books</h1>

<table style="width:100%">
<tr>
<h5>
    <th>ISBN</th>
    <th>Suggested By</th>
</h5>
</tr>

<ul class="suggested_books">
<% @suggested_books.each do |suggested_book| %>
<tr>

<td>
<%= link_to suggested_book.isbn, edit_suggested_book_path(suggested_book)%>
</td>

<td>
<%= suggested_book.suggested_by %>
</td>


</tr>
<% end %>
</ul>
</table>
