<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      The book you have subscribed is now available. Please login to your profile and check the book availability under All Books tab
    </p>
  </body>
</html>